@import url(/Rickmortysite/estilos/global.css);
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;400;600;800 & display=swap');
@import url(/Rickmortysite/fonts/Segoe\ UI.ttf);


body{
    background-color: var(--primaryColor);
    font-family: sans-serif;

}
body::before{
    content: '';
    background-image: url(/Rickmortysite/assets/pictures/rick-and-morty-1200x900-1.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
}

.bar__container{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.bar__menu{
    position: relative;
   margin-left: auto;
   
}
.bar__item{
    position: relative;
    display: inline-block;
    margin-right: 2rem;
    margin: 0.6rem;
    letter-spacing: 1.5px;

}
.bar__button{
    position: relative;
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    color: white;
    letter-spacing: 1.5px;
    background-color: rgba(181, 53, 246, 1);
}

.bar__logo{
    position: relative;
    display: inline-block;
    margin-top: 0.2rem;
    margin-left: 0.9rem;
}
.PictureIcon{
    filter: invert(100%);
    max-width: 10rem;
}
.content{
    width: 100%;
    height: 85vh;
    background-color: rgba(3, 3, 40, 1);
}
.content__logo{
    display: flex;
    justify-content: center;
    margin: 4rem;
}
#ricklogo{
    max-width: 30rem;
}
.content__tittle{
    margin-top: 5rem;
    display: flex;
    position: relative;
    font-size: 1rem;
    background: linear-gradient(90deg, rgba(11,15,119,1) 0%, rgba(92,1,99,1) 51%);
    width: 22rem; 
    font-weight: light;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.content__tittle h2{
    padding-left: 6rem;
    color: white;
    text-align: center;
}
.content__text{
    position: relative;
    margin-left: 6rem;
    margin-top: 2rem;
    font-size: 1rem;
    color: white;
}
.content__text h3{
    font-weight: lighter;
    margin-top: 1rem;
}
.content__text h2{
    font-weight: 700;
}
.content__text h4{
    font-size: 2.5rem;
}
.content__text small{
    font-size: 0.7rem;
}
.content__text p{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1.8rem;
}
.content__button{
    position: relative;
    align-items: center;
    width: 100%;
}
.content__button button{
    font-family: sans-serif;
    width: 13rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 5.5rem;
    margin-top: 1.7rem;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.20px;
    background-color: rgba(153, 51, 235, 1);
}
#legenda__button{
    color: white;
    width: 10rem;
    margin-left: 6rem;
    margin-top: 0.5rem;
}
.information{
    width: 100%;
    height: 30vh;
    align-items: center;
}
.information__block{
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    margin-left: 5rem;
    margin-top: 4rem;
}
.information__block h2{
    color: white;
    align-items: center;
    font-size: 1.7rem;
}
.information__text{
    color: white;
    text-align: center;
    font-weight: bold;
}
.information__block p{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: lighter;
}
.text__simple{
    justify-content: center;
    display: flex;
    font-weight: lighter;
    color: white;
    margin: 1rem;
    margin-top: 3rem;

}

.icons__simple{
    display: flex;
    justify-content: center;
    margin-left: 3.5rem;
}
.icons__simple img{
    max-width: 15rem;
    margin-right: 6rem;
    transition: 0.025ms;
    cursor: pointer;
}
.icons__simple img :hover{
    max-width: 17rem;
}
.vl-gradient{
    height: 98px;
    width: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1.5px solid;
    transform: rotate(180deg);
    border-image: linear-gradient( 1turn, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1) ) 1 / 3px;
}
.banner__end{
    color: white;
    display: flex;
    justify-content: start;
    margin-left: 15rem;
}
.banner__content{
    justify-content: start;
    align-items: start;
}
.banner__content h2{
    position: relative;
    justify-content: center;
    display: inline-block;
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: 20px;
    font-weight: lighter;
}

.banner__end img{
    max-width: 70rem;
    position: absolute;
    justify-content: start;
    size: cover;
}
.banner__button{
    position: relative;
}
.banner__button button{
    font-family: sans-serif;
    width: 11rem;
    height: 2.5rem;
    font-size: 0.8rem;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.20px;
    background-color: rgba(153, 51, 235, 1);
    margin: 1rem;
    margin-left: 4.5rem;
    border: solid rgba(153, 51, 235, 1) 1px;
    transition: 0.25ms;
    cursor: pointer;
}
.banner__button button :hover{
    background-color: rgba(100, 44, 145, 0);
    height: 4rem;
    

}
footer{ /*não modificar*/
    margin: 3.5rem;
    margin-top: 5rem;
    font-size: 1rem;
    align-self: center;
    justify-content: center;
    position: relative;
    display: flex;
}